<%- include('../partials/header') %>
<!-- end header -->

<!-- sidebar -->
<%- include('../partials/sidebar') %>

<!-- content -->
<!-- <div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-xl-6">
                                <h4>Manage Expenses</h4>
                            </div>
                            <div class="col-xl-6">
                                <button class="btn btn-primary float-right">Coming Soon</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div> -->
<%- include('../partials/footer') %>