      <!-- header -->
      <%- include('../partials/header') %> 
      <!-- end header -->

      <!-- sidebar -->
      <%- include('../partials/sidebar') %>

    

      <style>
        .border {
            border: 1px solid gainsboro !important;
        }
        #invoice-POS {
            /* Align to the right */
            margin-left: 30rem
            
        }

      </style>

      <!-- Start::app-content -->
      <div id="invoice-POS">
      <div class="main-content app-content">
        <div class="container-fluid">

                
            <!-- Start::page-header -->
            <div class="d-flex align-items-center justify-content-between page-header-breadcrumb flex-wrap gap-2">
                
               
            </div>
            <!-- End::page-header -->

            <!-- Start::row-1 -->
            <div class="row" >
                <div class="col-xl-9">
                    <div class="card custom-card " style="align-items: center; justify-content: center;">
                        <div class="card-header d-md-flex d-block">
                            <div class="h5 mb-0 d-sm-flex d-bllock align-items-center">
                                <div class="ms-sm-2 ms-0 mt-sm-0 mt-2 ml-10">
                                    <div class="logo-container" >
                                        <img 
                                            src="../../assets/images/bni-new-logo.jpg" 
                                            alt="BNI Logo" 
                                            style="max-width: 200px; height: auto;"
                                        />
                                        <img 
                                            src="../../assets/images/check-mark.png" 
                                            alt="Verified" 
                                            style="width: 40px; height: auto; margin-left: 20px;"
                                        />
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="card-body">
                            <div class="row gy-3">
                                <div class="col-xl-12">
                                    <div class="row" style="border: 1px solid gainsboro; padding: 20px; max-width: 800px; margin: 0 auto;">
                                        <p class="fw-bold mb-3 text-center" 
                                           style="border-bottom: 2px solid #333; 
                                                  padding-bottom: 10px; 
                                                  font-family: 'Arial', sans-serif;
                                                  font-size: 24px;
                                                  letter-spacing: 2px;
                                                  font-weight: 800;">
                                            <strong>Payment Receipt</strong>
                                        </p>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                            <p class="mb-2">
                                                <span style="font-weight: 700; color: #000; font-size: 0.85rem;">Name:</span> 
                                                <span id="member-name" class="ms-2" style="color: #666; font-size: 0.85rem;"></span>
                                            </p>
                                            <p class="mb-2">
                                                <span style="font-weight: 700; color: #000; font-size: 0.85rem;">Email:</span> 
                                                <span id="customer-email" class="ms-2" style="color: #666; font-size: 0.85rem;"></span>
                                            </p>
                                            <p class="mb-2">
                                                <span style="font-weight: 700; color: #000; font-size: 0.85rem;">Company:</span> 
                                                <span id="company-name" class="ms-2" style="color: #666; font-size: 0.85rem;"></span>
                                            </p>
                                            <p class="mb-2">
                                                <span style="font-weight: 700; color: #000; font-size: 0.85rem;">Company GST:</span> 
                                                <span id="company-gst" class="ms-2" style="color: #666; font-size: 0.85rem;"></span>
                                            </p>
                                            <p class="mb-2">
                                                <span style="font-weight: 700; color: #000; font-size: 0.85rem;">Order NO:</span> 
                                                <span id="order-number" class="ms-2" style="color: #666; font-size: 0.85rem;"></span>
                                            </p>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ms-auto mt-sm-0 mt-3">
                                            <p class="mb-2">
                                                <span style="font-weight: 700; color: #000; font-size: 0.85rem;">Payment Status:</span> 
                                                <span class="payment-status ms-2" style="color: #666; font-size: 0.85rem;"></span>
                                            </p>
                                            <p class="mb-2">
                                                <span style="font-weight: 700; color: #000; font-size: 0.85rem;">Transaction No:</span> 
                                                <span class="transaction-no ms-2" style="color: #666; font-size: 0.85rem;"></span>
                                            </p>
                                            <p class="mb-2">
                                                <span style="font-weight: 700; color: #000; font-size: 0.85rem;">Payment Method:</span> 
                                                <span class="payment-method ms-2" style="color: #666; font-size: 0.85rem;"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-xl-3">
                                    <p class="fw-medium text-muted mb-1">Invoice ID :</p>
                                    <p class="fs-15 mb-1 invoice-id">#SHG148756965</p>
                                </div>
                                <div class="col-xl-3">
                                    <p class="fw-medium text-muted mb-1">Date Issued :</p>
                                    <p class="fs-15 mb-1 date-issued">15,May 2024 - <span class="text-muted fs-12">11:13AM</span></p>
                                </div>
                                <div class="col-xl-3">
                                    <p class="fw-medium text-muted mb-1">Transaction ID :</p>
                                    <p class="fs-15 mb-1 due-date">28,June 2024</p>
                                </div>
                                <div class="col-xl-3">
                                    <p class="fw-medium text-muted mb-1">Paid Amount :</p>
                                    <p class="fs-16 mb-1 fw-medium due-amount">₹4,877.11</p>
                                </div> -->
                                <div class="col-xl-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered mt-4" style="width: 100%;">
                                            <thead>
                                                <tr style="background-color: #f8f9fa;">
                                                    <th style="width: 50%;">Description</th>
                                                    <th style="width: 25%;">Date</th>
                                                    <th style="width: 25%; text-align: right;">Sub Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="payment-type"></td>
                                                    <td class="payment-date"></td>
                                                    <td class="payment-amount" style="text-align: right;"></td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2" style="text-align: right;"><strong>Tax:</strong></td>
                                                    <td class="tax-amount" style="text-align: right;"></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" style="text-align: right;"><strong>Total:</strong></td>
                                                    <td class="total-amount" style="text-align: right;"></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        
                                    </div>

                                    <!-- Legal Copy Section -->
                                    <div id="legalcopy" class="mt-4">
                                        <p class="legal text-muted">
                                            <strong>Thank you for your business!</strong> Payment is expected
                                            within 31 days; please process this invoice within that time.
                                            There will be a 5% interest charge per month on late invoices.
                                        </p>
                                    </div>
                                </div>
                             
                            </div>
                        </div>
                       
                        <!-- <div class="card-footer text-end">
                            <button id="downloadInvoice" class="btn btn-sm btn-danger me-1">Download <i class="ri-download-2-line ms-1 align-middle"></i></button>
                            
                                
                                <button class="btn btn-sm btn-success">Save As PDF<i class="ri-file-pdf-line ms-1 align-middle d-inline-block"></i></button>

                        </div> -->
                        
                    </div>
                </div>
                <div class="card-footer d-flex" style="padding-left: 6%; margin-bottom: 10px; gap: 10px;">
                    <button id="downloadInvoice" class="btn btn-sm btn-danger" style="width: 270px;">
                        Download <i class="ri-download-2-line ms-1 align-middle"></i>
                    </button>
                    <a href="http://localhost:3000/t/all-transactions" class="btn btn-sm btn-danger" style="width: 270px;">
                        Back to Transactions
                    </a>
                </div>
            </div>
            <!--End::row-1 -->

            
        </div>
    </div>
    </div>
    <!-- End::content  -->

   

    <script src="../../assets/js/viewTransactions.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

      <!-- Footer opened -->
 