      <!-- header -->
      <%- include('../partials/header') %>
      <!-- end header -->

      <!-- sidebar -->

      <%- include('../partials/sidebar') %>

      <!-- end sidebar -->

        <!-- Loader -->
  <div id="loader" style="display: none; align-items: center; justify-content: center;opacity: 99999; background-color: red;">
    <img src="../../assets/images/media/loader-5.svg" alt="Loading...">
</div>

<!-- Loader -->
      <!-- Start::app-content -->
      <div class="main-content app-content">
        <div class="container-fluid">
          <!-- Page Header -->
          <div
            class="d-flex align-items-center justify-content-between page-header-breadcrumb flex-wrap gap-2"
          >
            <div>
              <nav>
                <ol class="breadcrumb mb-1">
                  <li class="breadcrumb-item">
                    <a href="javascript:void(0);" style="color: #d01f2f"
                      >Universal Links Management</a
                    >
                  </li>
                  <li class="breadcrumb-item 989178547 " aria-current="page">
                    View All Links
                  </li>
                </ol>
              </nav>
              <h1 class="page-title fw-medium fs-18 mb-0">
                Manage All Universal Links
              </h1>
            </div>
          </div>
          <!-- Page Header Close -->

          <!-- Start::row-1 -->
          <div class="card custom-card" style="background-color: gainsboro">
            <div class="card-header justify-content-between">
              <div class="card-title">All Universal Links</div>
              <div class="d-flex gap-3 align-items-center flex-wrap">
                <div class="btn-group">
                  <!-- <div class="dropdown">
                    <a
                      href="javascript:void(0);"
                      class="btn btn-sm btn-light text-muted dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-expanded="true"
                    >
                    <i class="ti ti-sort-descending-2 me-1"></i>
                      Filter</a
                    >
                    <ul
                      class="dropdown-menu"
                      role="menu"
                      data-popper-placement="bottom-end"
                    >
                      <li>
                        <a class="dropdown-item" href="javascript:void(0);"
                          >This Week</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="javascript:void(0);"
                          >Last Week</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="javascript:void(0);"
                          >This Month</a
                        >
                      </li>
                    </ul>
                  </div> -->

                </div>
                <div class="custom-form-group flex-grow-1">
                  <input
                    type="text"
                    id="searchChapterInput"
                    class="form-control"
                    placeholder="Search Universal Link.."
                    aria-label="Event : custom'id"
                    aria-describedby="button-addon2"
                  />
                  <a
                    href="javascript:void(0);"
                    class="text-muted custom-form-btn"
                    ><i class="ti ti-search"></i
                  ></a>
                </div>

              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table
                  class="table table-hover text-nowrap"
                  style="border: 1px solid grey"
                >
                  <thead>
                    <tr>
                      <th scope="col" style="border: 1px solid grey;">S.No.</th>
                      <th scope="col" style="border: 1px solid grey;">Universal Link Name</th>
                      <th scope="col" style="border: 1px solid grey;">Universal Link Identify ID <b>(ULID)</b> </th>
                      <th scope="col" style="border: 1px solid grey;">Link Slug </th>
                      <th scope="col" style="border: 1px solid grey;">Payment Gateway <b>(Active)</b>  </th>
                      <th scope="col" style="border: 1px solid grey;">Status</th>
                      <th scope="col" style="border: 1px solid grey;">Actions</th>
                    </tr>
                  </thead>
                  <tbody id="chaptersTableBody">

                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer border-top-0">
              <div class="d-flex align-items-center flex-wrap overflow-auto">
                <div class="mb-2 mb-sm-0">
                  Showing <b>1</b> to <b>10</b> entries
                  <i class="bi bi-arrow-right ms-2 fw-semibold"></i>
                </div>
                <div class="ms-auto">
                  <ul class="pagination mb-0 overflow-auto">
                    <li class="page-item disabled">
                      <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item 989178547 " aria-current="page">
                      <a class="page-link" href="javascript:void(0)">1</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--End::row-1 -->
        </div>
      </div>
      <!-- End::content  -->

      <script src="../../assets/js/universalLinks.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

      <%- include('../partials/footer') %>
