      <!--Main-Sidebar-->
      <aside class="app-sidebar sticky" id="sidebar">
        <!-- Start::main-sidebar-header -->
        <div class="main-sidebar-header" style="background-color: white">
          <a href="#" class="header-logo">
            <img
              src=" assets/images/brand-logos/desktop-logo.png"
              alt="logo"
              class="desktop-logo"
            />
            <img
              src="https://bnidvr.com/img/site/5ec2854ed3f67d002d544276.png"
              alt="logo"
              class="toggle-dark"
            />
            <img
              src="../../assets/images/bni-new-logo.jpg"
              alt="logo"
              class="desktop-dark"
              style="height: 56px"
            />
            <img
              src="../../assets/images/bni-new-logo.jpg"
              alt="logo"
              class="toggle-logo"
            />
            <img
              src="../../assets/images/bni-new-logo.jpg"
              alt="logo"
              class="toggle-white"
            />
            <img
              src=" assets/images/brand-logos/desktop-white.png"
              alt="logo"
              class="desktop-white"
            />
          </a>
        </div>
        <!-- End::main-sidebar-header -->

        <!-- Start::main-sidebar -->
        <div
          class="main-sidebar"
          id="sidebar-scroll"
          style="background-color: #4f4f4f"
        >
          <!-- Start::nav -->
          <nav class="main-menu-container nav nav-pills flex-column sub-open">
            <div class="slide-left" id="slide-left">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="#7b8191"
                width="24"
                height="24"
                viewbox="0 0 24 24"
              >
                <path
                  d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
                ></path>
              </svg>
            </div>
            <ul class="main-menu">
              <!-- Start::slide__category -->
              <li class="slide__category">
                <span class="category-name">Menu</span>
              </li>
              <!-- End::slide__category -->

              <!-- Start::slide -->
              <li class="slide">
                <a href="/d/chapter-dashboard" class="side-menu__item dashboard-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                    ></path>
                  </svg>
                  <span class="/d/chapter-dashboard">Dashboard</span>
                </a>
              </li>
              <!-- End::slide -->

              <!-- Start::slide -->
              <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item universal-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 0 0 2.25-2.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v2.25A2.25 2.25 0 0 0 6 10.5Zm0 9.75h2.25A2.25 2.25 0 0 0 10.5 18v-2.25a2.25 2.25 0 0 0-2.25-2.25H6a2.25 2.25 0 0 0-2.25 2.25V18A2.25 2.25 0 0 0 6 20.25Zm9.75-9.75H18a2.25 2.25 0 0 0 2.25-2.25V6A2.25 2.25 0 0 0 18 3.75h-2.25A2.25 2.25 0 0 0 13.5 6v2.25a2.25 2.25 0 0 0 2.25 2.25Z"
                    ></path>
                  </svg>
                  <span class="side-menu__label"
                    >Manage Expenses
                    </span
                  >
                  <i class="ri-arrow-down-s-line side-menu__angle"></i>
                </a>
                <ul class="slide-menu child1">
                  <li class="slide">
                    <a href="/exp/manage-expenses" class="side-menu__item"
                      >View Expenses</a
                    >
                  </li>
                  <li class="slide">
                    <a href="/exp/add-expenses" class="side-menu__item"
                      >Add Expenses</a
                    >
                  </li>
                </ul>
              </li>
              <!-- End::slide -->

              <!-- Start::slide - Tab 1 Manage Expenses -->
             
              <!-- End::slide - Tab 1 -->

              <!-- Start::slide - Tab 2 Manage Expense Types -->
              <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item expense-type-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
                    ></path>
                  </svg>
                  <span class="side-menu__label">Manage <br/> Expense Types</span>
                  <i class="ri-arrow-down-s-line side-menu__angle"></i>
                </a>
                <ul class="slide-menu child1">
                  <li class="slide">
                    <a href="/exp/manage-expense-types" class="side-menu__item">View Expense Types</a>
                  </li>
                  <li class="slide">
                    <a href="/exp/add-expense-type" class="side-menu__item">Add Expense Type</a>
                  </li>
                </ul>
              </li>
              <!-- End::slide - Tab 2 -->

            <div class="slide-right" id="slide-right">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="#7b8191"
                width="24"
                height="24"
                viewbox="0 0 24 24"
              >
                <path
                  d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
                ></path>
              </svg>
            </div>

            
          </nav>
          <!-- End::nav -->
        </div>
        <!-- End::main-sidebar -->
      </aside>
      <!-- End Main-Sidebar-->

      <!-- <script src="../../assets/js/sidebar.js"></script> -->

      <style>
        /* Highlight active menu */
.side-menu__item.active {
  color: floralwhite;
  background-color: #007bff;
}

/* Open dropdown menu */
.slide-menu.open {
  display: block;
}


      </style>

      <script>
        document.addEventListener("DOMContentLoaded", function () {
  const currentPath = window.location.pathname;

  // Map menu items to their parent menu
  const menuMapping = {
    "/d/ro-dashboard": ".dashboard-menu",
    "/r/manage-region": ".region-menu",
    "/r/add-region": ".region-menu",
    "/r/edit-region": ".region-menu",
    "/r/view-region": ".region-menu",
    "/c/manage-chapter": ".chapter-menu",
    "/c/add-chapter": ".chapter-menu",
    "/c/edit-chapter": ".chapter-menu",
    "/c/view-chapter": ".chapter-menu",
    "/u/manage-universal-links": ".universal-menu",
    "/u/edit-universal-link": ".universal-menu",
    "/m/manage-members": ".member-menu",
    "/m/add-member": ".member-menu",
    "/m/edit-member": ".member-menu",
    "/m/view-member": ".member-menu",
    "/t/all-transactions": ".transaction-menu",
    "/acc/manage-accolades": ".accolade-menu",
    "/acc/add-accolades": ".accolade-menu",
    "/acc/edit-accolades": ".accolade-menu",
    "/acc/edit-accolades": ".accolade-menu",
    "/acc/edit-accolades": ".accolade-menu",
    "/cl/manage-classifications": ".classification-menu",
    "/cl/add-classification": ".classification-menu",
    "/e/manage-events": ".events-menu",
    "/e/add-event": ".events-menu",
    "/tr/manage-trainings": ".training-menu",
    "/tr/add-training": ".training-menu",
    "/k/manage-kitty": ".kitty-menu",
    "/k/kitty-management": ".kitty-menu",
    "/k/add-credit": ".kitty-menu",
  };

  // Mark the active menu and open its dropdown
  if (menuMapping[currentPath]) {
    const parentMenu = document.querySelector(menuMapping[currentPath]);
    const childLink = document.querySelector(`a[href="${currentPath}"]`);
    if (parentMenu) {
      parentMenu.classList.add("active"); // Add active class to parent
      parentMenu.nextElementSibling.classList.add("open"); // Open the dropdown
    }
    if (childLink) {
      childLink.classList.add("active"); // Add active class to child link
    }
  }

  // Sidebar toggle button functionality
  const sidebarToggle = document.querySelector('.sidemenu-toggle');
  sidebarToggle.addEventListener('click', () => {
    const body = document.body;
    const isSidebarHidden = body.classList.contains('sidebar-hidden');

    if (isSidebarHidden) {
      // Sidebar is being shown: reopen dropdown for active menu
      const activeMenu = document.querySelector('.slide.has-sub.active');
      if (activeMenu) {
        activeMenu.nextElementSibling.classList.add('open'); // Reopen dropdown
      }
    } else {
      // Sidebar is being hidden: close all dropdowns
      document.querySelectorAll('.slide-menu.open').forEach(menu => {
        menu.classList.remove('open');
      });
    }

    // Toggle the sidebar-hidden state on the body
    body.classList.toggle('sidebar-hidden');
  });
});

      </script>
   

      
        