      <!--Main-Sidebar-->
      <aside class="app-sidebar sticky" id="sidebar">
        <!-- Start::main-sidebar-header -->
        <div class="main-sidebar-header" style="background-color: white">
          <a href="#" class="header-logo">
            <img
              src=" assets/images/brand-logos/desktop-logo.png"
              alt="logo"
              class="desktop-logo"
            />
            <img
              src="https://bnidvr.com/img/site/5ec2854ed3f67d002d544276.png"
              alt="logo"
              class="toggle-dark"
            />
            <img
              src="../../assets/images/bni-new-logo.jpg"
              alt="logo"
              class="desktop-dark"
              style="height: 56px"
            />
            <img
              src="../../assets/images/bni-new-logo.jpg"
              alt="logo"
              class="toggle-logo"
            />
            <img
              src="../../assets/images/bni-new-logo.jpg"
              alt="logo"
              class="toggle-white"
            />
            <img
              src=" assets/images/brand-logos/desktop-white.png"
              alt="logo"
              class="desktop-white"
            />
          </a>
        </div>
        <!-- End::main-sidebar-header -->

        <!-- Start::main-sidebar -->
        <div
          class="main-sidebar"
          id="sidebar-scroll"
          style="background-color: #4f4f4f"
        >
          <!-- Start::nav -->
          <nav class="main-menu-container nav nav-pills flex-column sub-open">
            <div class="slide-left" id="slide-left">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="#7b8191"
                width="24"
                height="24"
                viewbox="0 0 24 24"
              >
                <path
                  d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
                ></path>
              </svg>
            </div>
            <ul class="main-menu">
              <!-- Start::slide__category -->
              <li class="slide__category">
                <span class="category-name">Menu</span>
              </li>
              <!-- End::slide__category -->

              <!-- Start::slide -->
              <li class="slide">
                <a href="/d/chapter-dashboard" class="side-menu__item dashboard-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                    ></path>
                  </svg>
                  <span class="/d/chapter-dashboard">Dashboard</span>
                </a>
              </li>
              <!-- End::slide -->

              <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item kitty-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
                    ></path>
                  </svg>
                  <span class="side-menu__label">Kitty Management</span>
                  <i class="ri-arrow-down-s-line side-menu__angle"></i>
                </a>
                <ul class="slide-menu child1">
                  <li class="slide">
                    <a href="/ck/manage-chapterKitty" class="side-menu__item">Kitty Dashboard</a>
                  </li>
                  <li class="slide">
                    <a href="/ck/chapter-raiseBill" class="side-menu__item">Raise a Bill</a>
                  </li>
                  <li class="slide">
                    <a href="/ck/chapter-creditManagement" class="side-menu__item">Credit Management</a>
                  </li>
                  <li class="slide">
                    <a href="/ck/chapter-giveCredit" class="side-menu__item">Give a Credit</a>
                  </li>
                  <li class="slide">
                    <a href="/ck/chapter-memberRightOff" class="side-menu__item">Member Write Off</a>
                  </li>
                </ul>
              </li>

              <!-- Start::slide -->
              <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item expense-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 0 0 2.25-2.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v2.25A2.25 2.25 0 0 0 6 10.5Zm0 9.75h2.25A2.25 2.25 0 0 0 10.5 18v-2.25a2.25 2.25 0 0 0-2.25-2.25H6a2.25 2.25 0 0 0-2.25 2.25V18A2.25 2.25 0 0 0 6 20.25Zm9.75-9.75H18a2.25 2.25 0 0 0 2.25-2.25V6A2.25 2.25 0 0 0 18 3.75h-2.25A2.25 2.25 0 0 0 13.5 6v2.25a2.25 2.25 0 0 0 2.25 2.25Z"
                    ></path>
                  </svg>
                  <span class="side-menu__label"
                    >Manage Expenses
                    </span
                  >
                  <i class="ri-arrow-down-s-line side-menu__angle"></i>
                </a>
                <ul class="slide-menu child1">
                  <li class="slide">
                    <a href="/exp/manage-expenses" class="side-menu__item"
                      >View Expenses</a
                    >
                  </li>
                  <li class="slide">
                    <a href="/exp/add-expenses" class="side-menu__item"
                      >Add Expenses</a
                    >
                  </li>
                </ul>
              </li>
              <!-- End::slide -->

              <!-- Start::slide - Tab 1 Manage Expenses -->
             
              <!-- End::slide - Tab 1 -->

              <!-- Start::slide - Tab 2 Manage Expense Types -->
              <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item expense-type-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
                    ></path>
                  </svg>
                  <span class="side-menu__label">Manage <br/> Expense Types</span>
                  <i class="ri-arrow-down-s-line side-menu__angle"></i>
                </a>
                <ul class="slide-menu child1">
                  <li class="slide">
                    <a href="/exp/manage-expense-types" class="side-menu__item">View Expense Types</a>
                  </li>
                  <li class="slide">
                    <a href="/exp/add-expense-type" class="side-menu__item">Add Expense Type</a>
                  </li>
                </ul>
              </li>
              <!-- End::slide - Tab 2 -->


              <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item expense-type-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
                    ></path>
                  </svg>
                  <span class="side-menu__label">Manage <br/>Transactions</span>
                  <i class="ri-arrow-down-s-line side-menu__angle"></i>
                </a>
                <ul class="slide-menu child1">
                  <li class="slide">
                    <a href="/trans/manage-transactions" class="side-menu__item">View all Transactions</a>
                  </li>
                  <li class="slide">
                    <a href="/trans/generate-invoice" class="side-menu__item">Generate Invoice</a>
                  </li>
                  
                </ul>
                
              </li>

              <!--  Added by VasuSri -->
                            <!-- Start::slide -->
                            <li class="slide has-sub">
                              <a href="javascript:void(0);" class="side-menu__item chapter-member-menu">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="w-6 h-6 side-menu__icon"
                                  fill="none"
                                  viewbox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                >
                                  <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 0 0 2.25-2.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v2.25A2.25 2.25 0 0 0 6 10.5Zm0 9.75h2.25A2.25 2.25 0 0 0 10.5 18v-2.25a2.25 2.25 0 0 0-2.25-2.25H6a2.25 2.25 0 0 0-2.25 2.25V18A2.25 2.25 0 0 0 6 20.25Zm9.75-9.75H18a2.25 2.25 0 0 0 2.25-2.25V6A2.25 2.25 0 0 0 18 3.75h-2.25A2.25 2.25 0 0 0 13.5 6v2.25a2.25 2.25 0 0 0 2.25 2.25Z"
                                  ></path>
                                </svg>
                                <span class="side-menu__label"
                                  >Manage <br/> Chapter Member
                                  </span
                                >
                                <i class="ri-arrow-down-s-line side-menu__angle"></i>
                              </a>
                              <ul class="slide-menu child1">
                                <li class="slide">
                                  <a href="/cm/managechaptermember" class="side-menu__item"
                                    >View Chapter Member</a
                                  >
                                </li>
                                <li class="slide">
                                  <a href="/cm/addchaptermember" class="side-menu__item"
                                    >Add Chapter Member</a
                                  >
                                </li>
                              </ul>
                            </li>

                            <li class="slide has-sub">
                              <a href="javascript:void(0);" class="side-menu__item accolade-menu">
                                <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-6 h-6 side-menu__icon"
                                fill="none"
                                viewbox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 0 0 2.25-2.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v2.25A2.25 2.25 0 0 0 6 10.5Zm0 9.75h2.25A2.25 2.25 0 0 0 10.5 18v-2.25a2.25 2.25 0 0 0-2.25-2.25H6a2.25 2.25 0 0 0-2.25 2.25V18A2.25 2.25 0 0 0 6 20.25Zm9.75-9.75H18a2.25 2.25 0 0 0 2.25-2.25V6A2.25 2.25 0 0 0 18 3.75h-2.25A2.25 2.25 0 0 0 13.5 6v2.25a2.25 2.25 0 0 0 2.25 2.25Z"
                                ></path>
                              </svg>
                                <span class="side-menu__label"
                                  >Accolades <br />
                                  Management</span
                                >
                                <i class="ri-arrow-down-s-line side-menu__angle"></i>
                              </a>
                              <ul class="slide-menu child1">
                                <li class="slide">
                                  <a href="/accchap/manage-accolade" class="side-menu__item"
                                    >View All Accolades</a
                                  >
                                </li>
                                <li class="slide">
                                  <a href="/accchap/request-chapter-accolade" class="side-menu__item"
                                    >Request Accolades</a
                                  >
                                </li>
                              </ul>
                            </li>
                            <!-- End::slide -->

                            <li class="slide has-sub">
                              <a href="javascript:void(0);" class="side-menu__item visitor-menu">
                                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-6 h-6 side-menu__icon"
                  fill="none"
                  viewbox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
              >
                  <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25"
                  />
              </svg>
                                <span class="side-menu__label">Tutorials</span>
                                <i class="ri-arrow-down-s-line side-menu__angle"></i>
                              </a>
                              <ul class="slide-menu child1">
                                <li class="slide">
                                  <a href="./manage-visitors.html" class="side-menu__item"
                                    >View All Tutorials</a
                                  >
                                </li>
                                <li class="slide">
                                  <a href="./add-visitor.html" class="side-menu__item"
                                    >FAQ's</a
                                  >
                                </li>
                              </ul>
                            </li>
              
                            <!-- Start::slide - Tab 3 Manage Chapter Member -->
                           
                            <!-- End::slide - Tab 3 -->

              <!-- Start::slide__category -->
              <li class="slide__category">
                <span class="category-name">General</span>
              </li>
              <!-- End::slide__category -->

              <!-- Start::slide - My Account -->
              <li class="slide">
                <a href="/s/chapter-settings" class="side-menu__item">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z"
                    ></path>
                  </svg>
                  <span class="side-menu__label">My Account</span>
                </a>
              </li>
              <!-- End::slide -->

              <!-- Start::slide - User Profile -->
              <li class="slide">
                <a href="#" class="side-menu__item">
                  <img
                    src="../../assets/images/faces/15.jpg"
                    alt="img"
                    class="avatar avatar-sm"
                  />
                  <span class="side-menu__label" id="chapterNameDisplay">Raja Shukla</span>
                </a>
              </li>
              <!-- End::slide -->

            <div class="slide-right" id="slide-right">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="#7b8191"
                width="24"
                height="24"
                viewbox="0 0 24 24"
              >
                <path
                  d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
                ></path>
              </svg>
            </div>

            
          </nav>
          <!-- End::nav -->
        </div>
        <!-- End::main-sidebar -->
      </aside>
      <!-- End Main-Sidebar-->

      <!-- <script src="../../assets/js/sidebar.js"></script> -->

      <style>
        /* Highlight active menu */
.side-menu__item.active {
  color: floralwhite;
  background-color: #007bff;
}

/* Open dropdown menu */
.slide-menu.open {
  display: block;
}


      </style>

      <script>
        document.addEventListener("DOMContentLoaded", async function () {
          // Fetch and update chapter name
          const token = localStorage.getItem('token');
          if (token) {
            const base64Url = token.split('.')[1];
            const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            const payload = JSON.parse(window.atob(base64));
            const userEmail = payload.email;

            try {
              const response = await fetch('https://backend.bninewdelhi.com/api/chapters');
              const chapters = await response.json();
              const matchingChapter = chapters.find(chapter => 
                chapter.email_id.toLowerCase() === userEmail.toLowerCase()
              );

              if (matchingChapter) {
                document.getElementById('chapterNameDisplay').textContent = matchingChapter.chapter_name;
              }
            } catch (error) {
              console.error('Error fetching chapter name:', error);
            }
          }

          const currentPath = window.location.pathname;

          // Map menu items to their parent menu
          const menuMapping = {
            "/d/chapter-dashboard": ".dashboard-menu",
            "/exp/manage-expenses": ".expense-menu",
            "/exp/add-expenses": ".expense-menu",
            "/exp/manage-expense-types": ".expense-type-menu",
            "/exp/add-expense-type": ".expense-type-menu",
            "/ck/manage-chapterKitty": ".kitty-menu",
            "/ck/chapter-raiseBill": ".kitty-menu",
            "/cm/managechaptermember": ".chapter-member-menu",
            "/ck/addchaptermember": ".chapter-member-menu",
            "/ck/chapter-giveCredit": ".kitty-menu",
            "/ck/chapter-creditManagement": ".kitty-menu",
            "/ck/chapter-memberRightOff": ".kitty-menu",
          };

          // Mark the active menu and open its dropdown
          if (menuMapping[currentPath]) {
            const parentMenu = document.querySelector(menuMapping[currentPath]);
            const childLink = document.querySelector(`a[href="${currentPath}"]`);
            if (parentMenu) {
              parentMenu.classList.add("active"); // Add active class to parent
              parentMenu.nextElementSibling.classList.add("open"); // Open the dropdown
            }
            if (childLink) {
              childLink.classList.add("active"); // Add active class to child link
            }
          }

          // Sidebar toggle button functionality
          const sidebarToggle = document.querySelector('.sidemenu-toggle');
          sidebarToggle.addEventListener('click', () => {
            const body = document.body;
            const isSidebarHidden = body.classList.contains('sidebar-hidden');

            if (isSidebarHidden) {
              // Sidebar is being shown: reopen dropdown for active menu
              const activeMenu = document.querySelector('.slide.has-sub.active');
              if (activeMenu) {
                activeMenu.nextElementSibling.classList.add('open'); // Reopen dropdown
              }
            } else {
              // Sidebar is being hidden: close all dropdowns
              document.querySelectorAll('.slide-menu.open').forEach(menu => {
                menu.classList.remove('open');
              });
            }

            // Toggle the sidebar-hidden state on the body
            body.classList.toggle('sidebar-hidden');
          });
        });

      </script>
   

      
      