      <!-- Footer opened -->
      <footer
        class="footer mt-auto py-3 bg-white text-center"
        style="background-color: #d01f2f !important"
      >
        <div class="container">
          <span class="text-muted" style="color: white !important">
            Copyright © <span id="year"></span>
            <a
              href="javascript:void(0);"
              class="text-dark fw-medium"
              style="color: white !important"
              >BNI</a
            >. Designed & Managed by
            <a href="javascript:void(0);">
              <span
                class="fw-medium text-primary"
                style="color: white !important"
                >National Marketing Projects INC</span
              >
            </a>
            All rights reserved
          </span>
        </div>
      </footer>
      <!-- End Footer -->

      <!-- Country-selector modal -->
      <div
        class="modal fade"
        id="header-responsive-search"
        tabindex="-1"
        aria-labelledby="header-responsive-search"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control border-end-0"
                  placeholder="Search Anything ..."
                  aria-label="Search Anything ..."
                  aria-describedby="button-addon2"
                />
                <button
                  class="btn btn-primary"
                  type="button"
                  id="button-addon2"
                >
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Country-selector modal -->
    </div>

    <!-- SCRIPTS -->
    <!-- Scroll To Top -->
    <div class="scrollToTop">
      <span class="arrow"><i class="ti ti-arrow-narrow-up fs-20"></i></span>
    </div>
    <div id="responsive-overlay"></div>

  


    <!-- Scroll To Top -->

    <!-- Popper JS -->
    <script src="../../assets/libs/%40popperjs/core/umd/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="../../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Node Waves JS-->
    <script src="../../assets/libs/node-waves/waves.min.js"></script>

    <!-- Simplebar JS -->
    <script src="../../assets/libs/simplebar/simplebar.min.js"></script>
    <link rel="modulepreload" href="../../assets/simplebar-B35Aj-bA.js" />
    <script type="module" src="../../assets/simplebar-B35Aj-bA.js"></script>
    <!-- Auto Complete JS -->
    <script src="../../assets/libs/%40tarekraafat/autocomplete.js/autoComplete.min.js"></script>

    <!-- Color Picker JS -->
    <script src="../../assets/libs/%40simonwep/pickr/pickr.es5.min.js"></script>

    <!-- Date & Time Picker JS -->
    <script src="../../assets/libs/flatpickr/flatpickr.min.js"></script>

    <!-- Apex Charts JS -->
    <!-- <script src="libs/apexcharts/apexcharts.min.js"></script> -->

    <!-- Sales Dashboard -->
    <!-- <link rel="modulepreload" href="../../assets/sales-dashboard-BU3coFtq.js" /> -->
    <!-- <script type="module" src="../../assets/sales-dashboard-BU3coFtq.js"></script> -->

    <!-- Sticky JS -->
    <script src="../../assets/sticky.js"></script>

    <!-- Custom-Switcher JS -->
    <link rel="modulepreload" href="../../assets/custom-switcher-BayzdO2G.js" />
    <script type="module" src=" ../../assets/custom-switcher-BayzdO2G.js"></script>
    <!-- APP JS-->
    <!-- <link rel="modulepreload" href="../../assets/app-C4M4tSMb.js" />
    <script type="module" src=" ../../assets/app-C4M4tSMb.js"></script> -->

    <!-- Include jQuery (required for Toastr) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Include Toastr JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/qrcode@1.4.4/build/qrcode.min.js"></script>



    <!-- END SCRIPTS -->
  </body>
</html>