      <!--Main-Sidebar-->
      <aside class="app-sidebar sticky" id="sidebar">
        <!-- Start::main-sidebar-header -->
        <div class="main-sidebar-header" style="background-color: white">
          <a href="#" class="header-logo">
            <img
              src=" assets/images/brand-logos/desktop-logo.png"
              alt="logo"
              class="desktop-logo"
            />
            <img
              src="https://bnidvr.com/img/site/5ec2854ed3f67d002d544276.png"
              alt="logo"
              class="toggle-dark"
            />
            <img
              src="../../assets/images/bni-new-logo.jpg"
              alt="logo"
              class="desktop-dark"
              style="height: 56px"
            />
            <img
              src="../../assets/images/bni-new-logo.jpg"
              alt="logo"
              class="toggle-logo"
            />
            <img
              src="../../assets/images/bni-new-logo.jpg"
              alt="logo"
              class="toggle-white"
            />
            <img
              src=" assets/images/brand-logos/desktop-white.png"
              alt="logo"
              class="desktop-white"
            />
          </a>
        </div>
        <!-- End::main-sidebar-header -->

        <!-- Start::main-sidebar -->
        <div
          class="main-sidebar"
          id="sidebar-scroll"
          style="background-color: #4f4f4f"
        >
          <!-- Start::nav -->
          <nav class="main-menu-container nav nav-pills flex-column sub-open">
            <div class="slide-left" id="slide-left">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="#7b8191"
                width="24"
                height="24"
                viewbox="0 0 24 24"
              >
                <path
                  d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
                ></path>
              </svg>
            </div>
            <ul class="main-menu">
              <!-- Start::slide__category -->
              <li class="slide__category">
                <span class="category-name">Menu</span>
              </li>

              <li class="slide">
                <a href="/d/member-dashboard" class="side-menu__item dashboard-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z"
                    ></path>
                  </svg>
                  <span class="side-menu__label">Dashboard</span>
                </a>
              </li>


              <!-- Start::slide -->
              <li class="slide">
                <a href="/m/member-transactions" class="side-menu__item transactions-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z"
                    ></path>
                  </svg>
                  <span class="side-menu__label">Kitty Transactions<br> (Ledger)</span>
                </a>
              </li>
              <!-- End::slide -->

              <li class="slide">
                <a href="/m/member-allTransactions" class="side-menu__item transactions-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z"
                    ></path>
                  </svg>
                  <span class="side-menu__label">All Transactions</span>
                </a>
              </li>

              <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item training-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 0 0 2.25-2.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v2.25A2.25 2.25 0 0 0 6 10.5Zm0 9.75h2.25A2.25 2.25 0 0 0 10.5 18v-2.25a2.25 2.25 0 0 0-2.25-2.25H6a2.25 2.25 0 0 0-2.25 2.25V18A2.25 2.25 0 0 0 6 20.25Zm9.75-9.75H18a2.25 2.25 0 0 0 2.25-2.25V6A2.25 2.25 0 0 0 18 3.75h-2.25A2.25 2.25 0 0 0 13.5 6v2.25a2.25 2.25 0 0 0 2.25 2.25Z"
                    ></path>
                  </svg>
                  <span class="side-menu__label"
                    >Manage Trainings</span
                  >
                  <i class="ri-arrow-down-s-line side-menu__angle"></i>
                </a>
                <ul class="slide-menu child1">
                  <li class="slide">
                    <a href="/mtr/all-trainings" class="side-menu__item"
                      >All Trainings</a
                    >
                  </li>
                  <li class="slide">
                    <a href="/mtr/my-training" class="side-menu__item"
                      >My Trainings</a
                    >
                  </li>
                </ul>
              </li>


              <!-- <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item universal-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 0 0 2.25-2.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v2.25A2.25 2.25 0 0 0 6 10.5Zm0 9.75h2.25A2.25 2.25 0 0 0 10.5 18v-2.25a2.25 2.25 0 0 0-2.25-2.25H6a2.25 2.25 0 0 0-2.25 2.25V18A2.25 2.25 0 0 0 6 20.25Zm9.75-9.75H18a2.25 2.25 0 0 0 2.25-2.25V6A2.25 2.25 0 0 0 18 3.75h-2.25A2.25 2.25 0 0 0 13.5 6v2.25a2.25 2.25 0 0 0 2.25 2.25Z"
                    ></path>
                  </svg>
                  <span class="side-menu__label"
                    >Manage Events</span
                  >
                  <i class="ri-arrow-down-s-line side-menu__angle"></i>
                </a>
                <ul class="slide-menu child1">
                  <li class="slide">
                    <a href="#" class="side-menu__item"
                      >All Events</a
                    >
                  </li>
                  <li class="slide">
                    <a href="#" class="side-menu__item"
                      >My Events</a
                    >
                  </li>
                </ul>
              </li> -->

              <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item accolades-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 0 0 2.25-2.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v2.25A2.25 2.25 0 0 0 6 10.5Zm0 9.75h2.25A2.25 2.25 0 0 0 10.5 18v-2.25a2.25 2.25 0 0 0-2.25-2.25H6a2.25 2.25 0 0 0-2.25 2.25V18A2.25 2.25 0 0 0 6 20.25Zm9.75-9.75H18a2.25 2.25 0 0 0 2.25-2.25V6A2.25 2.25 0 0 0 18 3.75h-2.25A2.25 2.25 0 0 0 13.5 6v2.25a2.25 2.25 0 0 0 2.25 2.25Z"
                    ></path>
                  </svg>
                  <span class="side-menu__label"
                    >Manage Requisition <br> (Accolades)</span
                  >
                  <i class="ri-arrow-down-s-line side-menu__angle"></i>
                </a>
                <ul class="slide-menu child1">
                  <li class="slide">
                    <a href="/macc/manage-memberAccolades" class="side-menu__item"
                      >View All Accolades</a
                    >
                  </li>
                  <li class="slide">
                    <a href="/macc/request-memberAccolades" class="side-menu__item"
                      >Request a Accolade</a
                    >
                  </li>
                </ul>
              </li>


              <!-- Start::slide__category -->
              <li class="slide__category">
                <span class="category-name">General</span>
              </li>
              <!-- End::slide__category -->

              <!-- Start::slide -->
              <li class="slide">
                <a href="/s/member-settings" class="side-menu__item">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z"
                    ></path>
                  </svg>
                  <span class="side-menu__label">My Account</span>
                </a>
              </li>
              <!-- End::slide -->

              <!-- Start::slide -->
              <li class="slide">
                <a href="#" class="side-menu__item">
                  <img
                    src="../../assets/images/faces/15.jpg"
                    alt="img"
                    class="avatar avatar-sm"
                  />
                  <span class="side-menu__label">Raja Shukla</span>
                </a>
              </li>
              <!-- End::slide -->
            </ul>
            <div class="slide-right" id="slide-right">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="#7b8191"
                width="24"
                height="24"
                viewbox="0 0 24 24"
              >
                <path
                  d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
                ></path>
              </svg>
            </div>
          </nav>
          <!-- End::nav -->
        </div>
        <!-- End::main-sidebar -->
      </aside>
      <!-- End Main-Sidebar-->

      <!-- <script src="../../assets/js/sidebar.js"></script> -->

      <style>
        /* Highlight active menu */
.side-menu__item.active {
  color: floralwhite;
  background-color: #007bff;
}

/* Open dropdown menu */
.slide-menu.open {
  display: block;
}


      </style>

      <script>
        document.addEventListener("DOMContentLoaded", function () {
  const currentPath = window.location.pathname;

  // Map menu items to their parent menu
  const menuMapping = {
    "/d/member-dashboard": ".dashboard-menu",
    "/m/member-transactions": ".transaction-menu",
    "/m/member-allTransactions": ".transaction-menu",
    "/mtr/all-trainings": ".training-menu",
    "/mtr/my-training": ".training-menu",
    "/macc/manage-memberAccolades": ".accolades-menu",
    "/macc/request-memberAccolades": ".accolades-menu",
  };

  // Mark the active menu and open its dropdown
  if (menuMapping[currentPath]) {
    const parentMenu = document.querySelector(menuMapping[currentPath]);
    const childLink = document.querySelector(`a[href="${currentPath}"]`);
    if (parentMenu) {
      parentMenu.classList.add("active"); // Add active class to parent
      parentMenu.nextElementSibling.classList.add("open"); // Open the dropdown
    }
    if (childLink) {
      childLink.classList.add("active"); // Add active class to child link
    }
  }

  // Sidebar toggle button functionality
  const sidebarToggle = document.querySelector('.sidemenu-toggle');
  sidebarToggle.addEventListener('click', () => {
    const body = document.body;
    const isSidebarHidden = body.classList.contains('sidebar-hidden');

    if (isSidebarHidden) {
      // Sidebar is being shown: reopen dropdown for active menu
      const activeMenu = document.querySelector('.slide.has-sub.active');
      if (activeMenu) {
        activeMenu.nextElementSibling.classList.add('open'); // Reopen dropdown
      }
    } else {
      // Sidebar is being hidden: close all dropdowns
      document.querySelectorAll('.slide-menu.open').forEach(menu => {
        menu.classList.remove('open');
      });
    }

    // Toggle the sidebar-hidden state on the body
    body.classList.toggle('sidebar-hidden');
  });
});

      </script>
   

      
        