      <!--Main-Sidebar-->
      <aside class="app-sidebar sticky" id="sidebar">
        <!-- Start::main-sidebar-header -->
        <div class="main-sidebar-header" style="background-color: white">
          <a href="#" class="header-logo">
            <img
              src=" assets/images/brand-logos/desktop-logo.png"
              alt="logo"
              class="desktop-logo"
            />
            <img
              src="https://bnidvr.com/img/site/5ec2854ed3f67d002d544276.png"
              alt="logo"
              class="toggle-dark"
            />
            <img
              src="../../assets/images/bni-new-logo.jpg"
              alt="logo"
              class="desktop-dark"
              style="height: 56px"
            />
            <img
              src="../../assets/images/bni-new-logo.jpg"
              alt="logo"
              class="toggle-logo"
            />
            <img
              src="../../assets/images/bni-new-logo.jpg"
              alt="logo"
              class="toggle-white"
            />
            <img
              src=" assets/images/brand-logos/desktop-white.png"
              alt="logo"
              class="desktop-white"
            />
          </a>
        </div>
        <!-- End::main-sidebar-header -->

        <!-- Start::main-sidebar -->
        <div
          class="main-sidebar"
          id="sidebar-scroll"
          style="background-color: #4f4f4f"
        >
          <!-- Start::nav -->
          <nav class="main-menu-container nav nav-pills flex-column sub-open">
            <div class="slide-left" id="slide-left">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="#7b8191"
                width="24"
                height="24"
                viewbox="0 0 24 24"
              >
                <path
                  d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
                ></path>
              </svg>
            </div>
            <ul class="main-menu">
              <!-- Start::slide__category -->
              <li class="slide__category">
                <span class="category-name">Menu</span>
              </li>
              <!-- End::slide__category -->

              <!-- Start::slide -->
              <li class="slide">
                <a href="/d/ro-dashboard" class="side-menu__item dashboard-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                    ></path>
                  </svg>
                  <span class="side-menu__label">Dashboard</span>
                </a>
              </li>
              <!-- End::slide -->

              <!-- Start::slide -->
              <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item universal-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 0 0 2.25-2.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v2.25A2.25 2.25 0 0 0 6 10.5Zm0 9.75h2.25A2.25 2.25 0 0 0 10.5 18v-2.25a2.25 2.25 0 0 0-2.25-2.25H6a2.25 2.25 0 0 0-2.25 2.25V18A2.25 2.25 0 0 0 6 20.25Zm9.75-9.75H18a2.25 2.25 0 0 0 2.25-2.25V6A2.25 2.25 0 0 0 18 3.75h-2.25A2.25 2.25 0 0 0 13.5 6v2.25a2.25 2.25 0 0 0 2.25 2.25Z"
                    ></path>
                  </svg>
                  <span class="side-menu__label"
                    >Manage <br> Universal
                    Links</span
                  >
                  <i class="ri-arrow-down-s-line side-menu__angle"></i>
                </a>
                <ul class="slide-menu child1">
                  <li class="slide">
                    <a href="/u/manage-universal-links" class="side-menu__item"
                      >Manage Links</a
                    >
                  </li>
                </ul>
              </li>
              <!-- End::slide -->

                            <!-- Start::slide -->
                            <li class="slide has-sub">
                              <a href="javascript:void(0);" class="side-menu__item region-menu">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="w-6 h-6 side-menu__icon"
                                  fill="none"
                                  viewbox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                >
                                  <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 0 0 2.25-2.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v2.25A2.25 2.25 0 0 0 6 10.5Zm0 9.75h2.25A2.25 2.25 0 0 0 10.5 18v-2.25a2.25 2.25 0 0 0-2.25-2.25H6a2.25 2.25 0 0 0-2.25 2.25V18A2.25 2.25 0 0 0 6 20.25Zm9.75-9.75H18a2.25 2.25 0 0 0 2.25-2.25V6A2.25 2.25 0 0 0 18 3.75h-2.25A2.25 2.25 0 0 0 13.5 6v2.25a2.25 2.25 0 0 0 2.25 2.25Z"
                                  ></path>
                                </svg>
                                <span class="side-menu__label"
                                  >Region <br />
                                  Management</span
                                >
                                <i class="ri-arrow-down-s-line side-menu__angle"></i>
                              </a>
                              <ul class="slide-menu child1">
                                <li class="slide">
                                  <a href="/r/manage-region" class="side-menu__item"
                                    >View All Regions</a
                                  >
                                </li>
                                <li class="slide">
                                  <a href="/r/add-region" class="side-menu__item"
                                    >Add New Region</a
                                  >
                                </li>
                              </ul>
                            </li>
                            <!-- End::slide -->
              
                            <!-- Start::slide -->
                            <li class="slide has-sub">
                              <a href="javascript:void(0);" class="side-menu__item chapter-menu">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="w-6 h-6 side-menu__icon"
                                  fill="none"
                                  viewbox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                >
                                  <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75"
                                  ></path>
                                </svg>
                                <span class="side-menu__label"
                                  >Chapters <br />
                                  Management</span
                                >
                                <i class="ri-arrow-down-s-line side-menu__angle"></i>
                              </a>
                              <ul class="slide-menu child1">
                                <li class="slide">
                                  <a href="/c/manage-chapter" class="side-menu__item"
                                    >View All Chapters</a
                                  >
                                </li>
                                <li class="slide">
                                  <a href="/c/add-chapter" class="side-menu__item"
                                    >Add New Chapter</a
                                  >
                                </li>
                              </ul>
                            </li>
                            <!-- End::slide -->
              
                            <!-- Start::slide -->
                            <li class="slide has-sub">
                              <a href="javascript:void(0);" class="side-menu__item member-menu">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="w-6 h-6 side-menu__icon"
                                  fill="none"
                                  viewbox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                >
                                  <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 0 0 2.25-2.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v2.25A2.25 2.25 0 0 0 6 10.5Zm0 9.75h2.25A2.25 2.25 0 0 0 10.5 18v-2.25a2.25 2.25 0 0 0-2.25-2.25H6a2.25 2.25 0 0 0-2.25 2.25V18A2.25 2.25 0 0 0 6 20.25Zm9.75-9.75H18a2.25 2.25 0 0 0 2.25-2.25V6A2.25 2.25 0 0 0 18 3.75h-2.25A2.25 2.25 0 0 0 13.5 6v2.25a2.25 2.25 0 0 0 2.25 2.25Z"
                                  ></path>
                                </svg>
                                <span class="side-menu__label"
                                  >Members <br />
                                  Management</span
                                >
                                <i class="ri-arrow-down-s-line side-menu__angle"></i>
                              </a>
                              <ul class="slide-menu child1">
                                <li class="slide">
                                  <a href="/m/manage-members" class="side-menu__item"
                                    >View All Members</a
                                  >
                                </li>
                                <li class="slide">
                                  <a href="/m/add-member" class="side-menu__item"
                                    >Add New Member</a
                                  >
                                </li>
                              </ul>
                            </li>
                            <!-- End::slide -->

                            <li class="slide has-sub">
                              <a href="javascript:void(0);" class="side-menu__item transaction-menu">
                                  <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 side-menu__icon" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 0 1 3 19.875v-6.75ZM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V8.625ZM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V4.125Z"></path>
                                  </svg>
                                  <span class="side-menu__label">Transactions</span>
                                  <i class="ri-arrow-down-s-line side-menu__angle"></i>
                              </a>
                              <ul class="slide-menu child1 fetch">
                                <li class="slide">
                                  <a href="/t/all-transactions" class="side-menu__item"
                                    >All Transactions</a
                                  >
                                </li>
                              </ul>
                          </li>

                                                           <!-- Start::slide -->
                                                           
                                                          <!-- End::slide -->

                                                          <li class="slide has-sub">
                                                            <a href="javascript:void(0);" class="side-menu__item training-menu">
                                                              <svg
                                                                xmlns="http://www.w3.org/2000/svg"
                                                                class="w-6 h-6 side-menu__icon"
                                                                fill="none"
                                                                viewbox="0 0 24 24"
                                                                stroke-width="1.5"
                                                                stroke="currentColor"
                                                              >
                                                                <path
                                                                  stroke-linecap="round"
                                                                  stroke-linejoin="round"
                                                                  d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z"
                                                                ></path>
                                                              </svg>
                                                              <span class="side-menu__label">Trainings <br> Management</span>
                                                              <i class="ri-arrow-down-s-line side-menu__angle"></i>
                                                            </a>
                                                            <ul class="slide-menu child1">
                                                              <li class="slide">
                                                                <a href="/tr/manage-trainings" class="side-menu__item"
                                                                  >View All Trainings</a
                                                                >
                                                              </li>
                                                              <li class="slide">
                                                                <a href="/tr/add-training" class="side-menu__item"
                                                                  >Add New Training</a
                                                                >
                                                              </li>
                                                            </ul>
                                                          </li>

                                                                        <!-- Start::slide -->
              <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item events-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z"
                    ></path>
                  </svg>
                  <span class="side-menu__label">Events <br> Management</span>
                  <i class="ri-arrow-down-s-line side-menu__angle"></i>
                </a>
                <ul class="slide-menu child1">
                  <li class="slide">
                    <a href="/e/manage-events" class="side-menu__item"
                      >View All Events</a
                    >
                  </li>
                  <li class="slide">
                    <a href="/e/add-event" class="side-menu__item"
                      >Add New Event</a
                    >
                  </li>
                </ul>
              </li>
              <!-- End::slide -->

              <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item accolade-menu">
                  <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-6 h-6 side-menu__icon"
                  fill="none"
                  viewbox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 0 0 2.25-2.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v2.25A2.25 2.25 0 0 0 6 10.5Zm0 9.75h2.25A2.25 2.25 0 0 0 10.5 18v-2.25a2.25 2.25 0 0 0-2.25-2.25H6a2.25 2.25 0 0 0-2.25 2.25V18A2.25 2.25 0 0 0 6 20.25Zm9.75-9.75H18a2.25 2.25 0 0 0 2.25-2.25V6A2.25 2.25 0 0 0 18 3.75h-2.25A2.25 2.25 0 0 0 13.5 6v2.25a2.25 2.25 0 0 0 2.25 2.25Z"
                  ></path>
                </svg>
                  <span class="side-menu__label"
                    >Accolades <br />
                    Management</span
                  >
                  <i class="ri-arrow-down-s-line side-menu__angle"></i>
                </a>
                <ul class="slide-menu child1">
                  <li class="slide">
                    <a href="/acc/manage-accolades" class="side-menu__item"
                      >View All Accolades</a
                    >
                  </li>
                  <li class="slide">
                    <a href="/acc/add-accolades" class="side-menu__item"
                      >Add New Accolade</a
                    >
                  </li>
                </ul>
              </li>

              <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item kitty-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 0 0 2.25-2.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v2.25A2.25 2.25 0 0 0 6 10.5Zm0 9.75h2.25A2.25 2.25 0 0 0 10.5 18v-2.25a2.25 2.25 0 0 0-2.25-2.25H6a2.25 2.25 0 0 0-2.25 2.25V18A2.25 2.25 0 0 0 6 20.25Zm9.75-9.75H18a2.25 2.25 0 0 0 2.25-2.25V6A2.25 2.25 0 0 0 18 3.75h-2.25A2.25 2.25 0 0 0 13.5 6v2.25a2.25 2.25 0 0 0 2.25 2.25Z"
                    ></path>
                  </svg>
                  <span class="side-menu__label"
                    >Kitty  <br />
                    Management</span
                  >
                  <i class="ri-arrow-down-s-line side-menu__angle"></i>
                </a>
                <ul class="slide-menu child1">
                  <li class="slide">
                    <a href="/k/manage-kitty" class="side-menu__item"
                      >Kitty Dashboard</a
                    >
                  </li>
                  <li class="slide">
                    <a href="/k/kitty-management" class="side-menu__item"
                      >Raise New Bill</a
                    >
                  </li>
                  <li class="slide">
                    <a href="/k/add-credit" class="side-menu__item"
                      >Add Credit</a
                    >
                  </li>
                </ul>
              </li>

                                                           <!-- Start::slide -->
                                                           <li class="slide has-sub">
                                                            <a href="javascript:void(0);" class="side-menu__item classification-menu">
                                                              <svg
                                                              xmlns="http://www.w3.org/2000/svg"
                                                              class="w-6 h-6 side-menu__icon"
                                                              fill="none"
                                                              viewbox="0 0 24 24"
                                                              stroke-width="1.5"
                                                              stroke="currentColor"
                                                            >
                                                              <path
                                                                stroke-linecap="round"
                                                                stroke-linejoin="round"
                                                                d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 0 0 2.25-2.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v2.25A2.25 2.25 0 0 0 6 10.5Zm0 9.75h2.25A2.25 2.25 0 0 0 10.5 18v-2.25a2.25 2.25 0 0 0-2.25-2.25H6a2.25 2.25 0 0 0-2.25 2.25V18A2.25 2.25 0 0 0 6 20.25Zm9.75-9.75H18a2.25 2.25 0 0 0 2.25-2.25V6A2.25 2.25 0 0 0 18 3.75h-2.25A2.25 2.25 0 0 0 13.5 6v2.25a2.25 2.25 0 0 0 2.25 2.25Z"
                                                              ></path>
                                                            </svg>
                                                              <span class="side-menu__label"
                                                                >Classification <br />
                                                                Management</span
                                                              >
                                                              <i class="ri-arrow-down-s-line side-menu__angle"></i>
                                                            </a>
                                                            <ul class="slide-menu child1">
                                                              <li class="slide">
                                                                <a href="/cl/manage-classifications" class="side-menu__item"
                                                                  >View All Classifications</a
                                                                >
                                                              </li>
                                                              <li class="slide">
                                                                <a href="/cl/add-classification" class="side-menu__item"
                                                                  >Add New Classification</a
                                                                >
                                                              </li>
                                                            </ul>
                                                          </li>
                                                          <!-- End::slide -->

              <!-- Start::slide -->
              <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item supplies-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184"
                    ></path>
                  </svg>
                  <span class="side-menu__label"
                    >Supplies <br />
                    Information</span
                  >
                  <i class="ri-arrow-down-s-line side-menu__angle"></i>
                </a>
                <ul class="slide-menu child1">
                  <li class="slide">
                    <a href="./manage-supplies.html" class="side-menu__item"
                      >View All Supplies</a
                    >
                  </li>
                  <li class="slide">
                    <a href="./add-supply.html" class="side-menu__item"
                      >Add New Supply</a
                    >
                  </li>
                </ul>
              </li>
              <!-- End::slide -->
                                                 <!-- Start::slide -->
                 <li class="slide has-sub">
                  <a href="javascript:void(0);" class="side-menu__item inventory-menu">
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 0 0 2.25-2.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v2.25A2.25 2.25 0 0 0 6 10.5Zm0 9.75h2.25A2.25 2.25 0 0 0 10.5 18v-2.25a2.25 2.25 0 0 0-2.25-2.25H6a2.25 2.25 0 0 0-2.25 2.25V18A2.25 2.25 0 0 0 6 20.25Zm9.75-9.75H18a2.25 2.25 0 0 0 2.25-2.25V6A2.25 2.25 0 0 0 18 3.75h-2.25A2.25 2.25 0 0 0 13.5 6v2.25a2.25 2.25 0 0 0 2.25 2.25Z"
                    ></path>
                  </svg>
                    <span class="side-menu__label"
                      >Inventory <br />
                      Managment</span
                    >
                    <i class="ri-arrow-down-s-line side-menu__angle"></i>
                  </a>
                  <ul class="slide-menu child1">
                    <li class="slide">
                      <a href="./manage-inventory.html" class="side-menu__item"
                        >View All Inventory</a
                      >
                    </li>
                    <li class="slide">
                      <a href="./add-inventory.html" class="side-menu__item"
                        >Add New Inventory</a
                      >
                    </li>
                  </ul>
                </li>
                <!-- End::slide -->

                                                              <!-- Start::slide -->
                                                             
              <!-- End::slide -->



              <!-- Start::slide -->
              <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item visitor-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 0 1 3 19.875v-6.75ZM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V8.625ZM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V4.125Z"
                    ></path>
                  </svg>
                  <span class="side-menu__label">Manage Visitors</span>
                  <i class="ri-arrow-down-s-line side-menu__angle"></i>
                </a>
                <ul class="slide-menu child1">
                  <li class="slide">
                    <a href="./manage-visitors.html" class="side-menu__item"
                      >View All Visitors</a
                    >
                  </li>
                  <li class="slide">
                    <a href="./add-visitor.html" class="side-menu__item"
                      >Add New Visitor</a
                    >
                  </li>
                </ul>
              </li>
              <!-- End::slide -->

              <!-- Start::slide -->
              <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item expenses-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 0 1 3 19.875v-6.75ZM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V8.625ZM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V4.125Z"
                    ></path>
                  </svg>
                  <span class="side-menu__label">Manage Expenses</span>
                  <i class="ri-arrow-down-s-line side-menu__angle"></i>
                </a>
                <ul class="slide-menu child1">
                  <li class="slide">
                    <a href="./manage-expense.html" class="side-menu__item"
                      >View All Expenses</a
                    >
                  </li>
                  <li class="slide">
                    <a href="./add-expense.html" class="side-menu__item"
                      >Add New Expense</a
                    >
                  </li>
                </ul>
              </li>
              <!-- End::slide -->

              <!-- Start::slide -->
              <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item refund-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z"
                    ></path>
                  </svg>
                  <span class="side-menu__label">Manage Refund</span>
                  <i class="ri-arrow-down-s-line side-menu__angle"></i>
                </a>
                <ul class="slide-menu child1">
                  <li class="slide">
                    <a href="/ref/initiate-refund" class="side-menu__item"
                      >Initiate a Refund</a
                    >
                  </li>
                  <li class="slide">
                    <a href="/ref/all-refunds" class="side-menu__item"
                      >All Refunds</a
                    >
                  </li>
                </ul>
              </li>
              <!-- End::slide -->

              <!-- Start::slide -->
              <li class="slide">
                <a href="./add-notification.html" class="side-menu__item notification-menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z"
                    ></path>
                  </svg>
                  <span class="side-menu__label">Set Notifications</span>
                </a>
              </li>
              <!-- End::slide -->

              <!-- Start::slide__category -->
              <li class="slide__category">
                <span class="category-name">General</span>
              </li>
              <!-- End::slide__category -->

              <!-- Start::slide -->
              <li class="slide">
                <a href="#" class="side-menu__item">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 side-menu__icon"
                    fill="none"
                    viewbox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z"
                    ></path>
                  </svg>
                  <span class="side-menu__label">My Account</span>
                </a>
              </li>
              <!-- End::slide -->

              <!-- Start::slide -->
              <li class="slide">
                <a href="#" class="side-menu__item">
                  <img
                    src="../../assets/images/faces/15.jpg"
                    alt="img"
                    class="avatar avatar-sm"
                  />
                  <span class="side-menu__label">Raja Shukla</span>
                </a>
              </li>
              <!-- End::slide -->
            </ul>
            <div class="slide-right" id="slide-right">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="#7b8191"
                width="24"
                height="24"
                viewbox="0 0 24 24"
              >
                <path
                  d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
                ></path>
              </svg>
            </div>
          </nav>
          <!-- End::nav -->
        </div>
        <!-- End::main-sidebar -->
      </aside>
      <!-- End Main-Sidebar-->

      <!-- <script src="../../assets/js/sidebar.js"></script> -->

      <style>
        /* Highlight active menu */
.side-menu__item.active {
  color: floralwhite;
  background-color: #007bff;
}

/* Open dropdown menu */
.slide-menu.open {
  display: block;
}


      </style>

      <script>
        document.addEventListener("DOMContentLoaded", function () {
  const currentPath = window.location.pathname;

  // Map menu items to their parent menu
  const menuMapping = {
    "/d/ro-dashboard": ".dashboard-menu",
    "/r/manage-region": ".region-menu",
    "/r/add-region": ".region-menu",
    "/r/edit-region": ".region-menu",
    "/r/view-region": ".region-menu",
    "/c/manage-chapter": ".chapter-menu",
    "/c/add-chapter": ".chapter-menu",
    "/c/edit-chapter": ".chapter-menu",
    "/c/view-chapter": ".chapter-menu",
    "/u/manage-universal-links": ".universal-menu",
    "/u/edit-universal-link": ".universal-menu",
    "/m/manage-members": ".member-menu",
    "/m/add-member": ".member-menu",
    "/m/edit-member": ".member-menu",
    "/m/view-member": ".member-menu",
    "/t/all-transactions": ".transaction-menu",
    "/acc/manage-accolades": ".accolade-menu",
    "/acc/add-accolades": ".accolade-menu",
    "/acc/edit-accolades": ".accolade-menu",
    "/acc/edit-accolades": ".accolade-menu",
    "/acc/edit-accolades": ".accolade-menu",
    "/cl/manage-classifications": ".classification-menu",
    "/cl/add-classification": ".classification-menu",
    "/e/manage-events": ".events-menu",
    "/e/add-event": ".events-menu",
    "/tr/manage-trainings": ".training-menu",
    "/tr/add-training": ".training-menu",
    "/k/manage-kitty": ".kitty-menu",
    "/k/kitty-management": ".kitty-menu",
    "/k/add-credit": ".kitty-menu",
    "/ref/initiate-refund": ".refund-menu",
    "/ref/all-refunds": ".refund-menu",
  };

  // Mark the active menu and open its dropdown
  if (menuMapping[currentPath]) {
    const parentMenu = document.querySelector(menuMapping[currentPath]);
    const childLink = document.querySelector(`a[href="${currentPath}"]`);
    if (parentMenu) {
      parentMenu.classList.add("active"); // Add active class to parent
      parentMenu.nextElementSibling.classList.add("open"); // Open the dropdown
    }
    if (childLink) {
      childLink.classList.add("active"); // Add active class to child link
    }
  }

  // Sidebar toggle button functionality
  const sidebarToggle = document.querySelector('.sidemenu-toggle');
  sidebarToggle.addEventListener('click', () => {
    const body = document.body;
    const isSidebarHidden = body.classList.contains('sidebar-hidden');

    if (isSidebarHidden) {
      // Sidebar is being shown: reopen dropdown for active menu
      const activeMenu = document.querySelector('.slide.has-sub.active');
      if (activeMenu) {
        activeMenu.nextElementSibling.classList.add('open'); // Reopen dropdown
      }
    } else {
      // Sidebar is being hidden: close all dropdowns
      document.querySelectorAll('.slide-menu.open').forEach(menu => {
        menu.classList.remove('open');
      });
    }

    // Toggle the sidebar-hidden state on the body
    body.classList.toggle('sidebar-hidden');
  });
});

      </script>
   

      
        